/* ----------- */
/* Custom properties */
/* ----------- */
:root {
  /* colors */
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);

  /* fonts */
  --fs-lg: 3.5rem;
  --fs-regular: 1.125rem;
  --fs-sm: 0.875rem;

  --fw-regular: 500;
  --fw-bold: 700;

  --ff-primary: 'Epilogue', sans-serif;
}

@media (max-width: 43em) {
  :root {
    --fs-lg: 2.2rem;
  }
}

/* ----------- */
/* Css Resets */
/* ----------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*
{
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  --ff-body: var(--ff-primary);
  --fs-body: var(--fs-regular);
  --fw-body: var(--fw-regular);
  --bg-body: var(--clr-white);
  --body-text-clr: var(--clr-gray);

  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
  background-color: var(--bg-body);
  color: var(--body-text-clr);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* link reset */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------- */
/* Utilities */
/* ----------- */

.container {
  margin-inline: auto;
  width: min(80rem, 100% - 2.5rem);
}

.visually-hidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

/* Typography */

.text-black { color: var(--clr-black); }
.text-white { color: var(--clr-white); }
.text-gray { color: var(--clr-gray); }

.bg-black { background-color: var(--clr-black); }
.bg-white { background-color: var(--clr-white); }
.bg-gray { background-color: var(--clr-gray); }

.fs-sm { font-size: var(--fs-sm); }
.fs-lg { font-size: var(--fs-lg); }

.fw-bold { font-weight: var(--fw-bold); }
.fw-regular { font-weight: var(--fw-regular); }

/* ----------- */
/* general styling */
/* ----------- */

/* header */

.primary-header {
  padding: 1.5rem 0;
}

.primary-navigation {
  --gap: 2rem;
}

.primary-navigation[data-visible='true'] {
  transform: translateX(0);
}

.user-navigation[data-visible='true'] {
  transform: translateX(0);
}

.nav-link:hover,
.nav-link:focus-visible {
  color: var(--clr-black);
  border-color: var(--clr-black);
}

.btn-user {
  background-color: transparent;
  border: 2px solid var(--clr-gray);
}

.mobile-menu-toggle {
  display: none;
  position: absolute;
  right: 10%;
  z-index: 9999;
  background-image: url(./assets/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  padding-inline: 1rem;
  aspect-ratio: 3 / 2;
  border: 0;
}

.mobile-menu-toggle[aria-expanded='true'] {
  position: fixed;
  background-image: url(./assets/icon-close-menu.svg);
}

.dropdown-toggle {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  --gap: 0.5rem;
  align-items: center;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  --gap: 0.7rem;
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: 0.5rem;
}

.dropdown-menu img {
  display: inline-flex;
  padding-right: 0.5rem;
}

.dropdown.active > .dropdown-menu {
  display: flex;
}

.dropdown.active .dropdown-toggle > img {
  content: url(./assets/icon-arrow-up.svg);
}


@media (min-width: 43em) {
  .nav-wrapper, .primary-navigation {
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-menu {
    position: absolute; 
    box-shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media (max-width: 43em)
{
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    background-color: var(--clr-white);
    flex-direction: column;
    padding-top: 5rem;
    padding-inline: 2rem;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }

  .user-navigation {
    position: fixed;
    inset: 80vw 0 0 30%;
    z-index: 2000;
    flex-direction: column;
    text-align: center;
    padding-inline: 3rem;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }

  .user-navigation.active {
    inset: calc(100vw + 5rem) 0 0 30%;
  }

  .mobile-menu-toggle {
    display: block;
  }
}

/* main */

.even-columns {
  display: grid;
  gap: 2rem;
}

.client {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
  margin: 2rem 0 4rem 0;
}

.btn-main {
  border: 0;
  border: 1px solid var(--clr-black);
  transition: background 300ms;
}

.btn-main:hover,
.btn-main:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

@media (max-width: 43em) {
  .container--100 {
    width: 100%;
    text-align: center;
  }

  .main-img {
    order: 1;
  }

  .main-text {
    order: 2;
    padding-inline: 1em;
  }
}

@media (min-width: 43em) {
  .container--100 {
    max-width: 70rem;
  }

  .even-columns {
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 0;
  }

  .main-text {
    align-self: center;
    --flow-space: 2rem;
    margin-top: 5rem;
  }

  .main-img img {
    content: url(./assets/image-hero-desktop.png);
  }

  .client {
    margin-top: 5rem;
  }
}

@media (min-width: 57.5em) {
  .even-columns {
    gap: 5rem;
  }

  .main-img img {
    width: 90%;
  }
}
